@model ResetPasswordViewModel


<div class="page-content">
    <!-- inner page banner -->
    <div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
        <div class="container">
            <div class="dz-bnr-inr-entry">
                <h1>Login</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-row">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"> Home</a></li>
                        <li class="breadcrumb-item">Reset Password</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- inner page banner End-->
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content">
                            <h4>NEW CUSTOMER</h4>
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a class="btn btn-primary btnhover m-r5 button-lg radius-no" asp-action="register">CREATE AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content nav">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <form asp-action="resetpassword" method="post" id="login" class="tab-pane active col-12">
                                <h4 class="text-secondary">LOGIN</h4>
                                <p class="font-weight-600">If you have an account with us, please log in.</p>
                                <div class="mb-4">
                                    <label class="label-title">Email *</label>
                                    <input asp-for="Email" required="" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="label-title">PASSWORD *</label>
                                    <input asp-for="Password" required="" class="form-control " placeholder="Password" >
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="label-title">ConfirmPassword *</label>
                                    <input asp-for="ConfirmPassword" required="" class="form-control " placeholder="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                                 <div class="mb-4">
                                    <label class="label-title">ConfirmPassword *</label>
                                    <input asp-for="Token" required="" class="form-control " placeholder="" type="hidden">
                                    <span asp-validation-for="Token"></span>
                                </div>
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary btnhover me-2">Reset</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End-->
</div>


