@using BookShop.BLL.Services
@using BookShop.Core.Entities
@using Microsoft.AspNetCore.Identity
@model ContactMessageViewModel

@inject LayoutService layoutService;
@inject UserManager<AppUser> _userManager;


@{
    var user = await _userManager.FindByNameAsync(User.Identity.IsAuthenticated ? User.Identity.Name : "");
}

<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="bx bx-bell bx-tada"></i>
    @if (!Model.IsAllRead)
    {
        <span class="badge bg-danger rounded-pill">@Model.ContactMessages.Count</span>
    }
   
</button>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
     aria-labelledby="page-header-notifications-dropdown">
    <div class="p-3">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="m-0" key="t-notifications"> Messages </h6>
            </div>
            <div class="col-auto">
                <a href="#!" class="small" key="t-view-all"> View All</a>
            </div>
        </div>
    </div>
    <div data-simplebar style="max-height: 230px;">
        @foreach (var item in Model.ContactMessages)
        {
            <a href="javascript: void(0);" class="text-reset notification-item">
                <div class="d-flex">
                    <img src="~/assets/images/users/3bd932fa-1f8b-43f0-9880-2ab2ad9278ec-profile1.jpg"
                     class="me-3 rounded-circle avatar-xs" alt="user-pic">
                    <div class="flex-grow-1">
                        <h6 class="mb-1">@item.Name</h6>
                        <div class="font-size-12 text-muted">
                            <p class="mb-1" key="t-simplified">@item.Message</p>
                            <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hours ago</span></p>
                        </div>
                    </div>
                </div>
            </a>

        }

    </div>
    <div class="p-2 border-top d-grid">
        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
            <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View More..</span>
        </a>
    </div>
</div>
