@model BlogCategorySidebarViewModel

@{
	var blogCategories = Model.BlogCategories;
}

@foreach (var blogCategory in blogCategories)
{

	<li class="cat-item cat-item-26"><a asp-controller="blog" asp-action="blogSidebarCategory" asp-route-id="@blogCategory.Id">@blogCategory.Name</a><span>(@blogCategory.Blogs.Count)</span></li>
}
